body{
    /* background-color: tomato; */
    height:100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    /* grid-template-areas: "aside header"
    "aside main"; */
}
header{
    grid-column: 2/-1;
    grid-row:1/span1;
    /* grid-row: */
}

aside{
    grid-column:1/span1;
    grid-row:1/-1;
}

main{
 grid-column:2/-1;
 grid-row:2/-1;
} 