body{
    /* background-color: tomato; */
    height:100vh;
    display: grid;
    grid-template-columns: minmax(150px,1fr) minmax(250px,4fr) minmax(150px,1fr);
    grid-template-rows: minmax(50px,1fr) 5fr;
    /* grid-template-areas: "aside header"
    "aside main"; */
}
header{
    grid-column: 2/-1;
    grid-row:1/span1;
}

aside{
    grid-column:1/span1;
    grid-row:1/-1;
}

main{
 grid-column:2/-1;
 grid-row:2/-1;
 display: grid;
 grid-template-columns: 9fr 3fr;
 gap:1rem;
} 

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap:1rem;
}

.project{
    border:1px solid tomato;
    min-width:250px;
}